In [4]:
import os
import numpy as np 
import pandas as pd
import glob
from scipy.stats import wilcoxon



def split_csv(string):
    return string.split(".")[0]


######## read the log file
report_dataset = ['housing_scale', 'mpg_scale', 'airfoil', 'space_ga_scale', 'whitewine', 
                  'dakbilgic', 'mg_scale', 'bias', 'cpusmall_scale', 'aquatic', 'music', 
                  'redwine', 'ccpp', 'concrete', 'portfolio', 'building', 'yacht', 
                  'abalone', 'algerian', 'fish', 'communities', 'forestfires', 'cbm']
report_method = ["uniform", "knn",  "extrapolated"]
log_file_dir = "./realdata.csv"   
log = pd.read_csv(log_file_dir, header=None)
log.columns = "iterate,time,mse,n_train,n_test,dataset,method,n_machine_per_order,order".split(',')
log["dataset"] = log["dataset"].apply(split_csv)


######## filter the results to display
summarize_log = log.copy()
summarize_log = summarize_log[summarize_log["dataset"].isin(report_dataset)]
summarize_log = summarize_log[summarize_log["method"].isin(report_method)]
summarize_log["mse"] = np.array( summarize_log["mse"], dtype = "float32")

######## to pivot table 
summary = pd.pivot_table(summarize_log, index=["dataset", "n_machine_per_order", "order"],columns=["method"], values=[ "mse"], aggfunc=[np.mean])
str_summary = summary.astype("string")




str_summary

                                            mean
                                             mse
method                              extrapolated         knn     uniform
dataset   n_machine_per_order order
abalone   2                   1        5.0762444    5.021346   5.0844703
                              2         5.504813    5.021346   5.0849113
          4                   1        5.2508135    5.021346    5.099915
                              2        6.1661067    5.021346    5.173799
          6                   1        5.5017014    5.021346    5.173799
...                                          ...         ...         ...
whitewine 4                   2        0.5845832  0.53148746   0.5320973
          6                   1       0.55029404  0.53148746   0.5320973
                              2       0.60876554  0.53148746    0.538303
          8                   1       0.56467146  0.53148746   0.5354227
                              2       0.63023525  0.53148746  0.54184455

[136 rows x 3 columns]

In [5]:
str_summary.to_excel("./realdata_summary.xlsx")

## Simulation

In [6]:
import os
import numpy as np 
import pandas as pd
import glob
from scipy.stats import wilcoxon




######## read the log file

report_method = ["uniform", "knn",  "extrapolated"]
log_file_dir = "./simulation.csv"   
log = pd.read_csv(log_file_dir, header=None)
log.columns = "iterate,time,mse,n_train,n_test,distribution,method,n_machine_per_order,order".split(',')


######## filter the results to display
summarize_log = log.copy()
summarize_log = summarize_log[summarize_log["method"].isin(report_method)]
summarize_log["mse"] = np.array( summarize_log["mse"], dtype = "float32")

######## to pivot table 
summary = pd.pivot_table(summarize_log, index=["distribution", "n_machine_per_order", "order"],columns=["method"], values=[ "mse"], aggfunc=[np.mean])
str_summary = summary.astype("string")




str_summary

                                               mean
                                                mse
method                                 extrapolated        knn    uniform
distribution n_machine_per_order order
1            2                   1        1.0023558  1.0024427  1.0024865
                                 2        1.0024557  1.0024427  1.0023208
             4                   1         1.002452  1.0024427  1.0021033
                                 2        1.0023977  1.0024427  1.0019569
             6                   1        1.0023569  1.0024427  1.0019569
                                 2        1.0022489  1.0024427   1.002002
             8                   1        1.0023158  1.0024427  1.0021808
                                 2        1.0023177  1.0024427  1.0021871
2            2                   1        2.3877306  2.3127053  2.3620467
                                 2          2.79054  2.3127053  2.3916547
             4                   1        2.5270593  2.3127053  2.3981166
                                 2        3.3687115  2.3127053  2.4538991
             6                   1        2.7249093  2.3127053  2.4538991
                                 2        3.8722348  2.3127053  2.5491638
             8                   1        2.9296992  2.3127053  2.5161457
                                 2         4.311137  2.3127053  2.6454167
3            2                   1         621.6353  520.99744   581.2444
                                 2         878.0543  520.99744  603.76874
             4                   1        840.00476  520.99744   623.2744
                                 2        1487.6499  520.99744   695.8157
             6                   1        1152.0411  520.99744   695.8157
                                 2        2085.0032  520.99744  831.52826
             8                   1         1481.631  520.99744  784.22595
                                 2         2648.618  520.99744   973.1959
4            2                   1        1.0102587  1.0109761  1.0109752
                                 2        1.0096624  1.0109761  1.0103275
             4                   1        1.0096197  1.0109761  1.0099698
                                 2        1.0092958  1.0109761  1.0095972
             6                   1        1.0095122  1.0109761  1.0095972
                                 2        1.0091518  1.0109761  1.0093428
             8                   1        1.0093797  1.0109761  1.0093697
                                 2        1.0090988  1.0109761  1.0092233