In [4]:
import os
import numpy as np 
import pandas as pd
import glob
from scipy.stats import wilcoxon



def split_csv(string):
    return string.split(".")[0]


######## read the log file
report_dataset = ['housing_scale', 'mpg_scale', 'airfoil', 'space_ga_scale', 'whitewine', 
                  'dakbilgic', 'mg_scale', 'bias', 'cpusmall_scale', 'aquatic', 'music', 
                  'redwine', 'ccpp', 'concrete', 'portfolio', 'building', 'yacht', 
                  'abalone', 'algerian', 'fish', 'communities', 'forestfires', 'cbm']
report_method = ["uniform", "knn",  "extrapolated"]
log_file_dir = "./realdata.csv"   
log = pd.read_csv(log_file_dir, header=None)
log.columns = "iterate,time,mse,n_train,n_test,dataset,method,n_machine_per_order,order".split(',')
log["dataset"] = log["dataset"].apply(split_csv)


######## filter the results to display
summarize_log = log.copy()
summarize_log = summarize_log[summarize_log["dataset"].isin(report_dataset)]
summarize_log = summarize_log[summarize_log["method"].isin(report_method)]
summarize_log["mse"] = np.array( summarize_log["mse"], dtype = "float32")

######## to pivot table 
summary = pd.pivot_table(summarize_log, index=["dataset", "n_machine_per_order", "order"],columns=["method"], values=[ "mse"], aggfunc=[np.mean])
str_summary = summary.astype("string")




str_summary

                                            mean
                                             mse
method                              extrapolated         knn     uniform
dataset   n_machine_per_order order
abalone   2                   1        5.0762444    5.021346   5.0844703
                              2         5.504813    5.021346   5.0849113
          4                   1        5.2508135    5.021346    5.099915
                              2        6.1661067    5.021346    5.173799
          6                   1        5.5017014    5.021346    5.173799
...                                          ...         ...         ...
whitewine 4                   2        0.5845832  0.53148746   0.5320973
          6                   1       0.55029404  0.53148746   0.5320973
                              2       0.60876554  0.53148746    0.538303
          8                   1       0.56467146  0.53148746   0.5354227
                              2       0.63023525  0.53148746  0.54184455

[136 rows x 3 columns]

In [5]:
str_summary.to_excel("./realdata_summary.xlsx")