In [16]:
import os
import numpy as np 
import pandas as pd
import glob
from scipy.stats import wilcoxon



def split_csv(string):
    return string.split(".")[0]


######## read the log file
report_dataset = ['housing_scale', 'mpg_scale', 'airfoil', 'space_ga_scale', 'whitewine', 
                  'dakbilgic', 'mg_scale', 'bias', 'cpusmall_scale', 'aquatic', 'music', 
                  'redwine', 'ccpp', 'concrete', 'portfolio', 'building', 'yacht', 
                  'abalone', 'algerian', 'fish', 'communities', 'forestfires', 'cbm']
report_method = ["uniform", "cauchy", "federated",  "extrapolation"]
log_file_dir = "./realdata.csv"   
log = pd.read_csv(log_file_dir, header=None)
log.columns = "iterate,time,mse,n_train,n_test,dataset,method,portion_idx".split(',')
log["dataset"] = log["dataset"].apply(split_csv)


######## filter the results to display
summarize_log = log.copy()
summarize_log = summarize_log[summarize_log["dataset"].isin(report_dataset)]
summarize_log = summarize_log[summarize_log["method"].isin(report_method)]
summarize_log["mse"] = np.array( summarize_log["mse"], dtype = "float32")

######## to pivot table 
summary = pd.pivot_table(summarize_log, index=["dataset", "portion_idx"],columns=["method"], values=[ "mse"], aggfunc=[np.mean])
str_summary = summary.astype("string")




str_summary

                             mean
                              mse
method                     cauchy extrapolation   federated     uniform
dataset   portion_idx
abalone   0             5.0861435     5.0499797    5.050296    5.120865
          1             5.2030716      5.091165    5.088051    5.265229
          2              5.230649     5.1761937   5.1862664   5.2537546
          3             5.1927695      5.104363     5.10475   5.2432165
airfoil   0             11.582081     10.023884   10.033759   13.069772
...                           ...           ...         ...         ...
whitewine 4             0.5660841    0.56204855   0.5626449   0.5670855
yacht     0             100.91061     95.669624    98.58478   103.03451
          1            101.940094     100.65366    98.97752   104.34581
          2            101.139885      99.84711  100.502205  101.862076
          3             100.09201     101.72776    99.33953    101.7769

[106 rows x 4 columns]

In [5]:
a = [1,2,3]
[i for i in a if i**2 < 5]

[1, 2]